 /* Add a black background color to the top navigation */
.nav-belt {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav-belt a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav-belt a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.nav-belt a.active {
  background-color: #4CAF50;
  color: white;
}

/* Table formatting */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: center;
}
td {
  text-align: center;
}
h2 {
  text-align: center;
}
