<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
<div class="nav-belt">
  <a class="active" href="/">Home</a>
  <a href="/contact">Contact</a>
  <a href="/about">About</a>
  <a href="/admin">Admin Login</a>
</div>

<h2><u>mehlj-shop Inventory</u></h2>

<table style="width:100%">
  <tr>
    <th><u>Item</u></th>
    <th><u>Price</u></th> 
    <th><u>Quantity Available</u></th>
  </tr>

  {% for row in rows %}
    <tr>
      <td>{{row["item"]}}</td>
      <td>{{row["price"]}}</td>
      <td>{{row["quantity"]}}</td>
    <tr>
  {% endfor %}
</table>
</body>
</html>
